@charset "utf-8";

h2 {margin-bottom:12px; color:#000; font-size:16px;}

/* common */
.mb31 {margin-bottom:31px;}
.mb47 {margin-bottom:47px;}
.mb70 {margin-bottom:70px;}
.txt_col02 {color:#502bca;}
.bull_list01 {margin-top:7px; line-height:17px;}
.bull_list01 li {padding-left:6px; background:url(../images/common/dot01.gif)no-repeat 0 6px;}
.p_notice{padding-left:25px;background:url(../images/ico/ico_notice.png) no-repeat 0 3px;}


/*button*/
.btn_sm_purple, .btn_sm_gray, .btn_lg_purple{display:inline-block;}
.btn_sm_gray:hover, .btn_lg_purple:hover{text-decoration:none;}
.btn_sm_gray{height:40px;padding:0 15px;line-height: 40px;background-color:#808080;color:#fff !important;text-align:center;font-size:12px;font-family:'Noto Sans Light';}
.btn_lg_purple{min-width:107px;height:69px;background-color:#502bc9;text-align:center;line-height:69px;color:#fff;font-size:16px;font-family:'Noto Sans Medium'}
.btn_sm_purple{height:40px;padding:0 15px;background-color:#502bc9;text-align:center;line-height:40px;color:#fff !important;font-size:12px;font-family:'Noto Sans Light';}
.btn_md_purple{min-width:107px;height:40px;padding:0 10px;background-color:#502bc9;text-align:center;line-height:40px;color:#fff !important;font-size:16px;font-family:'Noto Sans Medium'}
.btn_md_stroke{min-width:107px;height:40px;padding:0 10px;border:1px solid #333;background-color:#fff;text-align:center;line-height:40px;font-size:16px;font-family:'Noto Sans Medium'}
.full{width:100%;display:block;-moz-box-sizing:border-box;box-sizing:border-box;}

/* tab01 */
.tab01 {overflow:hidden; width:336px; margin:0 auto 50px;box-shadow:0 5px 7px #aaa;}
.tab01 li {float:left;width:50%;}
.tab01 li a{display:block;height:30px;line-height:28px;text-align:center;background-color:#fff;color:#333;font-size:15px;}
.tab01 li.on a{background-color:#262626;color:#fff;}

/*login*/
.log_section{margin: 100px auto 45px;width: 450px;}
.log_section .left {float:left; margin-right:10px;}
.log_section .left li {overflow:hidden; margin-bottom:5px;}
.log_section .left li label {display:block; float:left; width:73px; font-weight:bold; font-size:14px; color:#44343; line-height:32px;}
.log_section .left li input.inputTxt {width:203px; height:30px; background:none; font-size:14px; line-height:30px;}
.log_section .btn_login{float:left;}
.log_section .left .login_chk {margin-left:73px; font-size:12px; color:#777;}
.log_txt {padding:25px 20px 20px; background:#f9f9f9; color:#999;}
.log_txt li {overflow:hidden; margin-bottom:4px; font-size:12px; line-height:18px;}
.log_txt li .txt {float:left;}
.log_txt li .txt em {font-style:normal; color:#606060;}
.log_txt li .right {float:right; width:130px;padding-top:10px;text-align:left;}


/* list */
.list-defualt{height:100px;line-height:100px;text-align:center;}
.list.type1{margin:20px 0;padding:10px 0;border-top:2px solid #333;border-bottom:2px solid #333;}
.list.type1 li{border-top:1px solid #d9d9d9;}
.list.type1 li:first-child{border-top:0;}
.list.type1 li a, .list.type1 li p{overflow:hidden;display:block;padding:10px 0;color:#333;}
.list.type1 li a:hover .col2{text-decoration:underline;}
.list.type1 li span{float:left;display:block;}
.list.type1 li .col1{width:10%;font-size:14px;text-align:center;}
.list.type1 li .col2{width:75%;padding:0 15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;-moz-box-sizing:border-box;box-sizing:border-box;}
.list.type1 li .col3{width:25%;font-size:14px;text-align:right;padding:0 15px;-moz-box-sizing:border-box;box-sizing:border-box;}
.list.type1 li p .col2{width:60%;padding:0 5% 0 0}
.list.type1 label{cursor:pointer;}
#trash_form .list.type1 li .col2{width:65%;}

.list.type2{margin:20px 0;padding:10px 0;border-top:2px solid #333;border-bottom:2px solid #333;}
.list.type2 ul{overflow:hidden;margin:-10px 0 0 -10px;}
.list.type2 li{float:left;width:25%;}
.list.type2 li a{display:block;margin:10px 0 0 10px;min-height:140px;padding:10px;border:1px solid #ddd;color:#333;box-shadow:2px 2px 1px rgba(0,0,0,.2);}
.list.type2 li .col1{display:block;}
.list.type2 li .col2{display:block;font-family:'Noto Sans Bold';}
.list.type2 li .col3{display:block;margin:5px 0 10px;font-size:11px;}
.list.type2 li .col4{display:block;font-size:14px;}
.list.type2 li.style1 a{background:url(../images/layout/img_pattern1.gif) repeat 0 0;}
.list.type2 li.style2 a{background:url(../images/layout/img_pattern2.gif) repeat 0 0}
.list.type2 li.style3 a{background:url(../images/layout/img_pattern3.gif) repeat 0 0;}
.list.type2 li.style4 a{background:url(../images/layout/img_pattern4.gif) repeat 0 0;}

.list.type3{border-top:2px solid #333;border-bottom:2px solid #333;}
.list.type3 ul{}
.list.type3 li{overflow:hidden;border-bottom:1px solid #333;padding:15px 10px;}
.list.type3 li .date{float:left;display:inline-block;padding:10px 0;width:20%;font-style:italic;font-size:15px;}
.list.type3 li .tit{float:left;display:inline-block;padding:10px 0;width:60%;font-size:17px;color:#502bc9;}
.list.type3 li .action{float:left;display:inline-block;width:10%;padding:10px 0;}
.list.type3 li .action2{float:right;display:inline-block;width:10%;padding:10px 0;}
.list.type3 li.done span{text-decoration:line-through;}
.list.type3 li .action button{vertical-align:middle;display:block;width:45px;height:45px;border-radius:100%;border:1px solid #ccc;background:url(../images/ico/check-off.png) no-repeat 50% 50%;}
.list.type3 li.done .action button,
.list.type3 li .action button:hover{border:1px solid #502bc9;background:url(../images/ico/check-on.png) no-repeat 50% 50%;}
.list.type3 li .action2 button{vertical-align:middle;display:block;width:45px;height:45px;background:url(../images/btn/btn_del.png) no-repeat 50% 50%;}

/* view */
.view_wrap .view_head{overflow:hidden;border-bottom:2px solid #333;padding:0 20px 20px;}
.view_wrap .view_head span{display:inline-block;}
.view_wrap .view_head .col2{padding-bottom:15px;font-size:21px;font-family:'Noto Sans Bold';}
.view_wrap .view_head .col1{font-size:14px;}
.view_wrap .view_head .col3{float:right;font-size:14px;}
.view_wrap .view_body{border-bottom:2px solid #333;padding:20px;line-height:36px;font-size:16px;color:#333;font-family:'Noto Sans DemiLight';}
/* control box */
.control_box{padding:20px 0;}

/* join */
.tb_join{width:100%;margin-bottom:30px;}
.tb_join th{font-weight:300;font-family:'Noto Sans DemiLight';font-size:16px;text-align:left;color:#333;}
.tb_join td{padding:5px 0 5px 5px;}
.tb_join td input{width:100%;height:40px;padding:10px 6px;font-size:16px;color:#333;border:1px solid #ddd;}

/* write */
.n_form input[type=text], .n_form textarea{font-size:16px;color:#333;font-family:'Noto Sans DemiLight';width:100%;border:1px solid #ddd;padding:6px 10px;-moz-box-sizing:border-box;box-sizing:border-box;}
.n_form input[type=text]{height:36px;margin-bottom:10px;}
.n_form textarea{height:300px;line-height:36px;}
.n_form .submit{display:block;width:100%;}

/* main */
.main_cont .n_form input[type=text], .main_cont .n_form textarea{}
.main_cont .n_form input[type=text],
.main_cont .n_form .submit{display:none;}
.main_cont .n_form textarea{height:50px;transition:height 0.5s;-webkit-transition:height 0.5s;}
.main_newnote{margin-bottom:20px;}
.main_newnote.active .n_form input[type=text],
.main_newnote.active .n_form .submit{display:block;}
.main_newnote.active .n_form textarea{height:150px;}

/* todo write */
.todo_write{overflow:hidden;padding-bottom:25px;}
.todo_write input{height:40px;font-size:16px;color:#333;font-family: 'Noto Sans DemiLight';border: 1px solid #ddd;padding:6px 10px;-moz-box-sizing:border-box;box-sizing: border-box;}
.todo_write .tit{width:460px;}
.todo_write .date{width:200px;}
.todo_write button{float:right;}

@media only screen and (max-width:1024px) { 
}
@media only screen and (max-width:780px) {
	/*common*/
	.p_notice{background:url(../images/ico/m_ico_notice.png) no-repeat 0 3px;background-size:20px;}
	
	/*button*/
	.btn_sm_gray{height:40px;line-height:40px;font-size:13px;font-family:'Noto Sans Light';}
	.btn_sm_gray.full{display:block;}
	.btn_md_purple{display:block;width:100%;}

	/* tab01 */
	.tab01{width:80%; margin:0 auto 30px;box-shadow:0 3px 5px #aaa;}
	
	/*login - mobile*/
	#contents .log_section{margin:25px auto 25px;width:auto;} 
	#contents .log_section .left{float:none;margin-right:0;}
	#contents .log_section .left li label{float:none;}
	#contents .log_section .left li input.inputTxt {width:100%;height:40px;line-height:40px;}
	#contents .log_section .left .login_chk{margin-left:0;}
	#contents .log_section .btn_login{margin-top:20px;clear:both;float:none;}
	#contents .log_section .btn_login button{width:100% !important;height:40px;line-height:40px}
	#contents .log_txt{padding:20px 15px 15px;}
	#contents .log_txt li .right{width:auto}
	
	/* write */
	.n_form input[type=text], .n_form textarea{font-size:22px;color:#333;font-family:'Noto Sans Thin';width:100%;border:1px solid #ddd;padding:6px 10px;-moz-box-sizing:border-box;box-sizing:border-box;}
	.n_form input[type=text]{height:36px;margin-bottom:10px;}
	.n_form textarea{height:300px;line-height:36px;}
	.n_form .submit{display:block;}
	
	/* list */
	.list.type1 li .col2{width:60%;padding:0;}
	.list.type1 li .col3{width:40%;fontsize:12px}
	#trash_form .list.type1 li .col2{width:50%;}

	.list.type2 ul{margin:0;}
	.list.type2 li{float:none;width:auto;clear:both;}
	.list.type2 li a{display:block;margin:10px 0 0 0;padding:10px;border:1px solid #ddd;color:#333;box-shadow:2px 2px 1px rgba(0,0,0,.2);word-break:keep-all;}
	.list.type2 li.style1 a{background-size:40px auto;}
	.list.type2 li.style2 a{background-size:100px auto;}
	.list.type2 li.style3 a{background-size:250px auto;}
	.list.type2 li.style4 a{background-size:128px auto;}
	.list.type3{border-top:2px solid #333;border-bottom:2px solid #333;}
	
	.list.type3 li{padding:0}
	.list.type3 li .action button,
 	.list.type3 li .action2 button,
 	.list.type3 li.done .action button{width:20px;height:20px;background-size:50%;} 
 	.list.type3 li .date{font-size:10px;padding:10px 5px;-moz-box-sizing:border-box;box-sizing:border-box;}
 	.list.type3 li .tit{font-size:14px;}
		
	/* todo write */
	.todo_write{overflow:hidden;padding-bottom:15px;}
	.todo_write input{margin-bottom:5px;}
	.todo_write .tit, .todo_write .date{width:100%;}
}