body {
	margin:0;
	padding:0;
	/*font-size:12px;
	font-family:'돋움', dotum, arial, serif, sans-serif;
	color:#5d5d5d;*/
	word-wrap:break-word;
}

a:link {text-decoration:none; color:#919191;}
a:visited {text-decoration:none; color:#333;}
a:active {text-decoration:none; color:#333;}
a:hover {text-decoration:underline; color:#111;}
::selection{background-color:#502bc9;color:#fff;}

ul, dl, ol , dt, dd, h1, h2, h3, h4, p {margin:0px; padding:0px;}
ul, ol, li {list-style-type:none;}

fieldset {display:block; margin:0; padding:0; border:0;}
legend {position:absolute; visibility:hidden; width:0; height:0; overflow:hidden; font:0/0 arial;}
form {margin:0; padding:0;}
textarea {padding:5px; border:1px solid #cdc9c9; resize:none}
input, select, textarea {font:11px 'Noto Sans Regular', dotum, arial, serif, sans-serif; color:#919191;cursor:pointer;-moz-box-sizing: border-box;box-sizing:border-box;background-color:transparent;}
input[type=text],input[type=password],select,textarea{ -webkit-appearance: none;-moz-appearance:none;appearance:none;border-radius:0;}
input.inputTxt {height:29px; padding:0 0 0 14px; line-height:2.6em; color:#737373; border:1px solid #ddd; background:#f3f3f3;}
input.checkbox, input.radio {width:14px; height:14px; margin:0; padding:0; vertical-align:middle;}
button{background:transparent;padding:0;margin:0;border:0;cursor:pointer;}
button::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}
img {border:0px; vertical-align:top;}

hr {display:none;}

address {font-style:normal;}

table {clear:both; border-collapse:collapse; border-spacing:0; word-break:break-all; color:#919191;}
caption {visibility:hidden; margin:0; padding:0; width:0; height:0; overflow:hidden; font:0/0 arial;}
td,th{padding:0;margin:0;}

/* skip navi */
#accessibility {position:absolute; top:0; left:0; height:0; text-indent:-9999px; width:100%; z-index:1000;}
#accessibility a {display:inline-block; line-height:0; text-align:center;}
#accessibility a:focus, #accessibility a:hover, #accessibility a:active {top:0; left:0; display:block; width:100%; height:25px; padding:15px 0 0 0; background:#fff; color:#666; font-size:12px; font-weight:bold; text-indent:0; line-height:1;}


/* location */
.location {color:#c8c8c8;font-size:12px;font-family:'Dotum'}
.location span.current {color:#343434; margin-left:5px;font-family:'Dotum'}
.location a {color:#989898; margin:0 5px;}
.location a:first-child {margin-left:0;}
.location img{vertical-align:middle;margin-top:-4px;}
.location a:hover, .location a:focus, .location a:active {text-decoration:none;}

/* skip contents*/
.skip_tit {visibility:hidden; overflow:hidden; position:absolute; width:0; height:0; font-size:0;}

/* padding */
.pd0 {padding:0 !important;}
.pdt0 {padding-top:0 !important;}
.pdb0 {padding-bottom:0 !important;}
.pdl0 {padding-left:0 !important;}
.pdr0 {padding-right:0 !important;}

/* margin */
.mg0 {margin:0 !important;}
.mgt0 {margin-top:0 !important;}
.mgb0 {margin-bottom:0 !important;}
.mgl0 {margin-left:0 !important;}
.mgr0 {margin-right:0 !important;}

/* font size */
.fsn {font-size:12px !important;}
.fss {font-size:11px !important;}

/* font weight */
.fwn {font-weight:normal !important;}
.fwb {font-weight:bold !important;}

/* float */
.fl {float:left !important;}
.fr {float:right !important;}
.cboth {clear:both;overflow:hidden;}

/* align */
.vat {vertical-align:top !important;}
.vam {vertical-align:middle !important;}
.vab {vertical-align:bottom !important;}
.agl {text-align:left !important;}
.agc {text-align:center !important;}
.agr {text-align:right !important;}

/* none */
.hidden {display:none;}
.blind {position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; }

/* paging */
.page_navi {margin:38px 0 0; text-align:center;}
.page_navi a {display:inline-block; height:13px; padding:0 7px; vertical-align:top; text-decoration:none; font-weight:bold; color:#777;}
.page_navi a.active {color:#333;}
.page_navi .first_page {padding:0; margin-right:9px;}
.page_navi .prev_page {padding:0; margin-right:7px;}
.page_navi .next_page {padding:0; margin-left:7px;}
.page_navi .last_page {padding:0; margin-left:9px;}

/* button */