html, body {width:100%; height:100%;margin:0;padding:0;}

#wrap {height:100%;}

/* pc default */
#m_header{display:none}
.dim_sidebar{display:none;}
#sidebar .btn_close{display:none;}

/* sidebar */
#sidebar {position:fixed;z-index:95; top:0; left:0;bottom:0;width:170px; background:url(../images/layout/bg_sidebar.png) repeat 0 0;}
#sidebar h1{margin:42px 0 50px 31px;}
#sidebar h1 a{display:block;font-size:29px;letter-spacing:-1px;color:#fff;line-height:1;font-family:'Noto Sans Black';}
#sidebar h1 a:hover{text-decoration:none;}
#sidebar .globalmenu {height:47px; margin:0 0 69px 37px;}
#sidebar .globalmenu li {margin-top:10px; line-height:0; font-size:0;color:#818181;}
#sidebar .globalmenu li:first-child {margin-top:0;} 
#sidebar .globalmenu li input,
#sidebar .globalmenu li a{margin:0;padding:0;font-size:13px;background-color:transparent;border:none;color:#818181;font-family:'Noto Sans Bold';text-decoration:none;}
#sidebar .globalmenu li a:hover,
#sidebar .globalmenu li input:hover{color:#aaa}

/* GNB */
#m_gnb{display:none;background-color:#fff;}
.gnbWrap .gnb > li{position:relative;line-height:1;margin-top:15px;font-size:17px;padding-left:30px;}
.gnbWrap .gnb > li.on{color:#fff;background:url(../images/layout/gnb_on.gif) no-repeat 0 0;}
.gnbWrap .gnb > li > a{color:#bdbdbd;font-family:'Noto Sans Medium';}
.gnbWrap .gnb > li > a.on{color:#fff;}
.gnbWrap li a:hover{text-decoration:none;}
.gnbWrap li:first-child {margin-top:0;}
.gnbWrap li li {margin:0 0 9px;}
.gnbWrap li li:first-child {margin-top:0;}
.gnbWrap li li a {display:block;width:112px;height:20px;line-height:20px;padding-left:16px;color:#fff;font-size:12px;font-family:'Noto Sans Thin'}
.gnbWrap li li.on a{background-color:#361b8d;}
.gnbWrap .bg {display:none; position:absolute; top:0; left:170px; width:90px;height:100%; background:url(../images/layout/bg_sidebar.png) repeat 0 0;}
.m01 .depth02 {position:absolute; top:0; left:166px; z-index:100;}

/* container */
#container {margin-left:220px; height:100%; min-height:100%;}
#contents_wrap {padding:49px 0 40px 0;}
#contents_wrap .location{width:780px; margin:0 auto 27px;text-align:center;}
#contents_wrap .location a{}
#contents_wrap #contents .cont_tit {width:780px; margin:0 auto;}
#contents_wrap #contents .cont_tit h1 {margin-bottom:47px; text-align:center;font-size:40px;color:#323232;font-family:'Noto Sans Black';}
#contents_wrap #contents .cont_section01 {width:780px; margin:0 auto;}



/* footer */
#footer {position:fixed;z-index:96;left:0;bottom:0;width:140px;padding:0 15px 20px;}
#footer .family_site {position:relative; margin-bottom:26px;}
#footer .family_site ul {display:none; position:absolute; bottom:25px; left:0; width:138px; padding:10px 0; background:#191919; border:1px solid #2f2f2f;}
#footer .family_site ul li a {display:block; padding:4px 0 4px 9px; color:#acacac; font-weight:bold; font-size:11px;}
#footer .family_site ul li a:hover, #footer .family_site ul li a:focus {color:#b7b7b7; text-decoration:none;} 
#footer .footer_navi {margin-bottom:26px;}
#footer .footer_navi li {line-height:0; margin-top:12px;}
#footer .footer_navi li:first-child {margin-top:0;}
#footer .footer_navi li a{color:#818181;font-size:12px;}
#footer .footer_navi li a:hover{color:#aaa;}
#footer .footer_info {line-height:1.2;padding-top:19px;color:#444;font-size:12px;border-top:1px solid #2f2f2f;}


@media only screen and (max-width:1024px) {
	
	/* header */
	#m_header{position:fixed;display:block;top:0;width:100%;height:56px;background-color:#262626;text-align:center;}
	#m_header h1 a{display:inline-block;line-height:56px;color:#fff;font-family:'Noto Sans Bold';font-size:18px;}
	.btn_gnb{display:block;height:35px;width:35px;border-radius:100%;position:absolute;top:10px;left:10px;background:url(../images/layout/btn_gnb.png) no-repeat 50% 50%;}
	.btn_gnb:active{background-color:rgba(80,43,201,.5);}
	
	/* sidebar */
	#m_gnb{display:none;position:fixed;z-index:90;top:0;left:0;right:0;overflow-x:auto;hieght:0px;padding:70px 0 80px;text-align:center;background-color:;/*-webkit-transform: translateZ(5px) !important;
	transform: translateZ(5px) !important;*/opacity:0;-moz-box-sizing: border-box;box-sizing: border-box;}
	#sidebar{display:none}
	#m_gnb .btn_close{display:block;width:40px;height:40px;position:absolute;top:40px;left:50%;margin-left:-20px;background:url(../images/layout/btn_close.png) no-repeat 50% 50%;background-size:25px 25px;}
	#m_gnb h1{margin:42px 0 30px 0;}
	#m_gnb h1 a{display:block;line-height:1;letter-spacing:-1px;font-family:'Noto Sans Black';color:#262626;font-size:20px;}
	#m_gnb .globalmenu{height:auto;margin:0 0 20px 0;}
	#m_gnb .globalmenu li button, #m_gnb .globalmenu li a{color:#5d5d5d;font-size:16px;font-family:'Noto Sans Thin';}
	#m_gnb .globalmenu li span{display:block;margin-bottom:5px;font-family:'Noto Sans Medium';font-size:17px;color:#5d5d5d}
	#m_gnb .gnb > li{padding-left:0;}
	#m_gnb .gnb > li > a{color:#5d5d5d;}
	#m_gnb li li{margin:0 0 0 0;}
	#m_gnb li li a{width:auto;height:auto;line-height:1.5;padding:0;color:#606060;font-size:16px;}
	#m_gnb .m01 .depth02{position:static;display:block !important;opacity:1 !important;margin-top:5px;}
	
	
	
	/* container */
	#container {height:auto;margin-left:0;padding:0 25px;}
	#contents_wrap {padding:70px 0 40px 0;}
	#contents_wrap .location{width:auto; margin:0 auto 25px;text-align:right;}
	#contents_wrap #contents .cont_tit{width:auto;}
	#contents_wrap #contents .cont_tit h1{margin-bottom:25px;font-size:20px;line-height:1;}
	#contents_wrap #contents .cont_section01 {width:auto;}
	
	#contents{}
	
	/* footer */
	body #footer{position:static;z-index:9999;width:auto;left:-100%;right:0;bottom:0;opacity:0;transition:opacity 0.5s;-webkit-transition:opacity 0.5s;background-color:#fff;}
	.footer_info p{width:50%;}
	
	
	body.active_gnb{overflow:hidden;}
	body.active_gnb #footer{position:fixed !important;left:0;right:0;opacity:1;z-index:9999;background:#fff;}
}	
