@charset "utf-8";


/* popup contents */
#openwin{height:100%; margin-top:-6px;}
#pop_wrap{position:relative; overflow:hidden; height:100%; border:3px solid #333;}
#pop_wrap .pop_head{height:53px;margin-bottom:65px;padding-left:45px;line-height:53px;background:#262626;color:#fff;letter-spacing:-1px;font-size:25px;}
#pop_wrap .pop_head h1{color:inherit;letter-spacing:inherit;font-size:inherit;}
#pop_wrap .cls_btn{position:absolute;top:0;right:0;width:60px;height:53px;background:url('../images/btn/btn_pop_close.gif') no-repeat 0 100%;}

/* login */
.pop_cont .log_section {overflow:hidden; width:429px;margin:0 auto 45px;}
.log_section .btn_login{float:left;}


/*
	mobile
*/
.formobile{margin:0;padding:0;background-color:#23539F}
#openwin.formobile{margin-top:0;}
.formobile #pop_wrap{border:0;padding:50px 35px;}
.formobile #pop_wrap .pop_head{padding:0;background:#23539F;}
.formobile #pop_wrap label{color:#fff;}
.formobile #pop_wrap input{background-color:#4B73AF !important;border:1px solid #A1B1CB;color:#fff !important;}
.formobile .btn_lg_purple{background-color:#fff !important;color:#23539F !important;}
.formobile #pop_wrap .cls_btn{background:url('../images/btn/btn_pop_close.png') no-repeat 50% 50%;background-size:25px 25px;}

/* login */
.formobile .pop_cont .log_section {overflow:hidden;width:100%;margin:0 auto 45px;}
.formobile .log_section .btn_login{margin-top:20px;clear:both;float:none;}
.formobile .log_section .btn_login button{width:100% !important;height:40px;line-height:40px}
.formobile .log_section .left{float:none;margin-right:0;}
.formobile .log_section .left li label{float:none;}
.formobile .log_section .left li input.inputTxt {width:100% !important;height:40px;line-height:40px;}
.formobile ::-webkit-input-placeholder{/* Chrome/Opera/Safari */color:#fff;}
.formobile ::-moz-placeholder{/* Firefox 19+ */color:#fff;}
.formobile :-ms-input-placeholder{/* IE 10+ */color:#fff;}
.formobile :-moz-placeholder{/* Firefox 18- */color:#fff;}